#content{
        padding-left:100px;
        font-family:Comic Sans MS;
        text-decoration:Underline;}
#home{padding-left:100px;
      font-family:Comic Sans MS;
        text-decoration:Underline;}
#login{padding-left:100px;
        font-family:Comic Sans MS;
        text-decoration:Underline;}
#about{padding-left:100px; 
        font-family:Comic Sans MS;
        text-decoration:Underline;}
