#endangered{
            padding-left:300px;
            text-font:Comic Sans MS;
            text-decoration:Underlined;
            text-color:rgb:(0,0,200}
#mystic{
        Padding-left:300px;
            text-font:Ariel;
            text-color:rgb:(200,0,200}
