#content{
        padding-left:500px;
        font-family:Comic Sans MS;
        text-decoration:Underline;
        background:rgb(300,0,300);}
#home{
        padding-left:500px;
        font-family:Comic Sans MS;
        text-decoration:Underline;
        background:rgb(0,150,0);}
#login{
        padding-left:500px;
        font-family:Comic Sans MS;
        text-decoration:Underline;
        background:rgb(300,0,0);}
#about{
        padding-left:500px; 
        font-family:Comic Sans MS;
        text-decoration:Underline;
        background:rgb(200,0,200);}
#animals{
           text-decoration:Underline;
        background:rgb(0,200,200);}
