#endangered{
            padding-left:450px;
            font-family:Comic Sans MS;
            text-decoration:Underlined;
            text-color:rgb(0,0,200);
            background:rgb(0,300,0);}
#mystic{
        padding-left:450px;
            font-family:Ariel;
            text-color:rgb(200,0,200);
            background:rgb(0,0,300);}
