#content{
        padding-left:500px;
        font-family:Comic Sans MS;
        text-decoration:Underline;
        background:rgb(150,0,150);}
#home{
        padding-left:500px;
        font-family:Comic Sans MS;
        text-decoration:Underline;
        background:rgb(0,150,0);}
#login{
        padding-left:500px;
        font-family:Comic Sans MS;
        text-decoration:Underline;
        background:#f9d4e9;}
#about{
        padding-left:500px; 
        font-family:Comic Sans MS;
        text-decoration:Underline;
        background:#d574fc;}
#animals{
           text-decoration:Underline;
        background:rgb(0,200,200);}
